{% for note in notes %}
<div class="card mt-2 w-100">
  <div class="card-body">
    <h5 class="card-title">{{note.title}}</h5>
    <p class="card-text">{{note.description}}</p>
    <a href="{% url 'update-note' note.id %}" class="btn btn-primary m-0">Edit Me</a>
    <a href="#" class="btn btn-danger" onclick="confirmDelete('{{ note.id }}')">Delete Me</a>
  </div>
</div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function confirmDelete(noteId) {
    Swal.fire({
      title: 'Are you sure?',
      text: 'This action cannot be undone!',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to the delete URL
        window.location.href = "{% url 'delete-note' '__NOTE_ID__' %}".replace('__NOTE_ID__', noteId);
      }
    });
  }
</script>